<div class = 'span8 well'>
  <em>"<%= comment.description %>"</em>
  <br>
  <span class="quiet">created by</span>
  <%= link_to(comment.creator.name,user_path(comment.creator)) %>
  <small>
    at
    <%= comment.created_at %>
  </small>
</div>